@use '../../styles/mixins' as mixin;

.header {
    position: relative;

    &__mobile-navigation {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20px;
        z-index: 2;
        width: calc(100% - 40px);
        display: flex;
        justify-content: center;

        @include mixin.mq('from', 1280) {
            display: none;
        }
    }
}
