@use '../../styles/colors' as colors;
@use '../../styles/mixins' as mixin;

.custom-link {
    letter-spacing: -0.03em;
    transition: opacity 0.3s ease-in-out;

    @media (hover: hover) {
        &:hover {
            opacity: 0.5;
        }
    }

    &--size-14 {
        font-size: 14px;
    }

    &--size-16 {
        font-size: 16px;
    }

    &--size-20 {
        @include mixin.mq('from', 480) {
            font-size: 20px;
        }

        @include mixin.mq('to', 480) {
            font-size: 16px;
        }
    }

    &--mobile-size-20 {
        font-size: 20px;
    }

    &--mobile-size-14 {
        font-size: 14px;
    }

    &--line-height-100 {
        line-height: 1;
    }

    &--line-height-110 {
        line-height: 1.1;
    }

    &--line-height-120 {
        line-height: 1.2;
    }

    &--weight-400 {
        font-weight: 400;
    }

    &--weight-500 {
        font-weight: 500;
    }

    &--color-black {
        color: colors.$black;
    }

    &--color-darkGray {
        color: colors.$darkGray;
    }

    &--color-light-gray {
        color: colors.$gray2;
    }

    &--hide {
        display: none;
    }
}
