@use '../../../styles/colors' as colors;
@use '../../../styles/mixins' as mixin;

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    line-height: 1;
    padding: 14px 18px;
    border-radius: 4px;
    transition: opacity 0.3s ease-in-out;

    @media (hover: hover) {
        &:hover {
            opacity: 0.7;
        }
    }

    @include mixin.mq('from', 481) {
        font-size: 16px;
    }

    @include mixin.mq('to', 480) {
        font-size: 14px;
    }

    &--width-fit {
        width: fit-content;
    }

    &--width-full {
        width: 100%;
    }

    &--color-white {
        color: white;
    }

    &--background-green {
        background-color: colors.$green1;
    }
}
