@use '../../styles/colors' as colors;
@use '../../styles/mixins' as mixin;

.container {
    max-width: 1640px;
    margin-inline: auto;

    &--default-padding {
        padding-inline: 20px;
    }

    &--no-padding-right-on-mobile {
        @include mixin.mq('from', 480) {
            padding-inline: 20px;
        }

        @include mixin.mq('to', 480) {
            padding-left: 20px;
            padding-right: 0;
        }
    }
}
