@use '../../../styles/colors' as colors;
@use '../../../styles/mixins' as mixin;

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    width: 100%;
    padding: 10px 20px 10px 10px;
    background-color: colors.$white;

    &--sidebar {
        @include mixin.mq('to', 480) {
            border-bottom: 1px solid colors.$lightGray;
        }
    }

    &__actions {
        display: flex;
        gap: 24px;
        align-items: center;
        height: 22px;
    }

    &__search-icon {
        margin-top: 4px;
    }
}
