@use '../../styles/colors' as colors;
@use '../../styles/mixins' as mixin;

.home-hero-section {
    background-color: colors.$lightGray;
    overflow: hidden;

    &__content {
        display: flex;

        @include mixin.mq('fromto', 480, 1680) {
            padding-bottom: 85px;
            padding-top: 145px;
        }

        @include mixin.mq('to', 480) {
            padding-top: 152px;
            padding-bottom: 80px;
            gap: 36px;
        }

        @include mixin.mq('from', 480) {
            gap: 149px;
            align-items: center;
        }

        @include mixin.mq('to', 1680) {
            flex-direction: column-reverse;

            h1,
            p {
                text-align: center;
            }
        }

        @include mixin.mq('fromto', 480, 1680) {
            gap: 40px;
        }
    }

    &__text-search {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;

        @include mixin.mq('fromto', 480, 1680) {
            align-items: center;
        }

        @include mixin.mq('from', 480) {
            gap: 40px;
            min-width: 640px;
            padding-right: 40px;
        }

        @include mixin.mq('to', 480) {
            gap: 20px;
        }
    }

    &__image {
        @include mixin.mq('from', 1680) {
            height: 1122px;
            min-width: 963px;
        }

        @include mixin.mq('fromto', 480, 1680) {
            height: 400px;
            max-width: 550px;
            width: 100%;
        }

        @include mixin.mq('to', 480) {
            height: 180px;
            width: 242px;
            margin-inline: auto;
        }
    }

    &__main-image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mixin.mq('to', 1680) {
            border-radius: 4px;
        }
    }

    &__frame-for-image {
        position: absolute;
        right: -132px;
        top: -85px;
        z-index: 1;
        min-width: 963px;

        @include mixin.mq('to', 1680) {
            display: none;
        }
    }
}
