@use '../../styles/mixins' as mixin;

.news-section {
    @include mixin.mq('from', 1280) {
        padding-top: 166px;
        padding-bottom: 283px;
    }

    @include mixin.mq('fromto', 480, 1280) {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    @include mixin.mq('to', 480) {
        padding-block: 100px;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include mixin.mq('from', 480) {
            gap: 64px;
        }

        @include mixin.mq('to', 480) {
            gap: 24px;
        }
    }

    &__cta {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        a {
            @include mixin.mq('to', 480) {
                height: 47px;
            }
        }

        @include mixin.mq('from', 480) {
            display: none;
        }
    }
}
